<%= form_with(model: [@todo_list, @todo_item]) do |form| %>
  <% if todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
        <% todo_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :todo_list_id, value: @todo_list.id %>

  <div> 
    <div class="field">
      <%= form.label :content, "Conteúdo" %>
      <%= form.text_area :content , class: "form-control text-area"%>
    </div>


    <div class="field">
      <label for="todo_item_priority">Prioridade</label>
      <select name="todo_item[priority]" class="form-select" id="todo_item_priority">
        <option value="Baixa">Baixa</option>
        <option value="Média">Média</option>
        <option value="Alta">Alta</option>
      </select>
    </div>


    <div class="field">

      <label for="todo_item_status">Status</label>
      <select name="todo_item[status]" class="form-select" id="todo_item_status">
        <option value="A fazer">A fazer</option>
        <option value="Em andamento">Em andamento</option>
        <option value="Concluído">Concluído</option>
        <option value="Cancelado">Cancelado</option>
      </select>
    </div>
    
    <div class="actions">
      <%= form.submit "Enviar", class:"btn btn-logout  mb-3"%>
    </div>
  </div>


<% end %>
