<div class="div-container mb-4 overflow-auto">
  <h3 class = 'title'>Minhas tarefas</h3>
    <%= link_to 'Adicionar tarefa', new_todo_list_todo_item_path,  class:'btn-new btn' %>
</div>
 
<table class="table table-hover overflow-auto">
  <thead>
    <tr>
      <th scope="col", class="text-center">Tarefa</th>
      <th scope="col", class="text-center">Status</th>
      <th scope="col", class="text-center">Prioridade</th>
      <th scope="col", class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
  <% @todo_items.each do |todo_item| %>
    <% if todo_item.status != "Concluído" %>
      <tr>
        <td class="text-break content-adjust"><%= todo_item.content %></td>
        <td class="text-center", style="width: 130px;"><%= todo_item.status %></td>
        <% case todo_item.priority
            when "Alta"%>
              <td class="w-25"><h6 class="mb-0 text-center"><span class="badge bg-danger w-50">Alta</span></h6></td>
          <%when "Média"%>
              <td class="w-25"><h6 class="mb-0 text-center"><span class="badge bg-warning w-50">Média</span></h6></td>
          <%when "Baixa"%>  
              <td><h6 class="mb-0 text-center"><span class="badge bg-success w-50">Baixa</span></h6></td>
        <% end %>
        
        <td>
          <div class="d-flex flex-row div-actions">
            <%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list, todo_item), class: "btn btn-outline-warning me-2 btn-sm"%>
            <%= button_to 'Excluir', todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end %>    
  <% end %>
  </tbody>
</table>

<h3 class = 'title mt-3 mb-3'>Tarefas concluídas</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col", class="text-center">Tarefa</th>
      <th scope="col", class="text-center">Status</th>
      <th scope="col", class="text-center">Prioridade</th>
      <th scope="col", class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
  <% @todo_items.each do |todo_item| %>
    <% if todo_item.status == "Concluído" %>
      <tr>
        <td class="text-break content-adjust"><%= todo_item.content %></td>
        <td class="text-center", style="width: 130px;"><%= todo_item.status %></td>
        <% case todo_item.priority
            when "Alta"%>
              <td class='w-25'><h6 class="mb-0 text-center"><span class="badge bg-danger w-50">Alta</span></h6></td>
          <%when "Média"%>
              <td class='w-25'><h6 class="mb-0 text-center"><span class="badge bg-warning w-50">Média</span></h6></td>
          <%when "Baixa"%>  
              <td class='w-25'><h6 class="mb-0 text-center"><span class="badge bg-success w-50">Baixa</span></h6></td>
        <% end %>
        
        <td>
          <div class="d-flex flex-row div-actions">
            <%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list, todo_item), class: "btn btn-outline-warning me-2 btn-sm"%>
            <%= button_to 'Excluir', todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end %>    
  <% end %>
  </tbody>
</table>
