<p id="notice"><%= notice %></p>

<div class="div-container">
  <%= link_to 'Adicionar tarefa', new_todo_list_todo_item_path,  class:'btn-new' %>
  <h3 class = 'title'>Minhas tarefas</h3>
  <div>

  </div>
</div>
 
<table class="table-list">
  <tbody>
    <tr>
      <th class= "th-test">Tarefa</th>
      <th class= "th-test">Status</th>
      <th class= "th-test">Prioridade</th>
      <th class= "th-test">Ações</th>
    </tr>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td class= "th-test"><%= todo_item.content %></td>
        <td class= "th-test"><%= todo_item.status %></td>
        <td class= "th-test"><%= todo_item.priority %></td>
        <td>
          <div class="d-flex flex-row div-actions">
            <%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list, todo_item), class: "btn-custom bg-warning" %>
            <%= button_to 'Excluir', todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-custom bg-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

