
<div class="div-container">
  <%= link_to 'Nova lista', new_todo_list_path, class:'btn-new' %>
  <h3 class = 'title'>Minhas listas</h3>
  <div>

  </div>
</div>
 
<table class="table-list">
  <tbody>
    <tr>
      <th class="th-test">Lista To-do</th>
      <th class= "th-test">Ações</th>

    </tr>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td class="th-test"><%= todo_list.title %></td>
        <td>
          <div class="d-flex flex-row div-actions">
            <%= link_to 'Itens', todo_list_todo_items_path(todo_list), class: "btn-custom bg-success"%>
            <%= link_to 'Editar', edit_todo_list_path(todo_list),  class: "btn-custom bg-warning" %>
            <%= button_to 'Excluir', todo_list, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn-custom bg-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


