
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h3 class="display-4">Login</h3><br>
  <div class="field mb-3">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder: "Email"%>
  </div>

  <div class="field mb-3">

    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Senha" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3">
      <%= f.check_box :remember_me %>
      <label for="exampleInputPassword1" class="form-label">Lembrar</label><br>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= f.submit "Login" , class:"btn btn-logout"%>
  </div>
<% end %>



