<!DOCTYPE html>
<html>
  <head>
    <title>TodoRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha256-KTPJY0ik6ufLv48oDKCYFYaptcCX75UrmWytfSjy+tA=" crossorigin="anonymous">
  </head>

  <body class="vh-100 p-3">
  <%= render 'partials/header' %>
    <div class="container w-75 bg-white rounded p-4 d-flex justify-content-center flex-wrap scrollable-container" style="margin-top: 60px;">
      <%= yield %>
  </body>
</html>
